body {
  margin: 0;
  background: #ffffff;
  overflow: hidden; /* Hides scrollbars on desktop */
}

body {
  background: url('/Milkmaid.jpg') no-repeat center center fixed;
  background-size: cover;
}

.outlined {
  color: white;
  /* Using text-shadow to simulate an outline */
  text-shadow:
    -4px -4px 0 black,
    4px -4px 0 black,
    -4px 4px 0 black,
    4px 4px 0 black;
}

p {
  position: relative;
  color: rgb(0, 0, 0);
  font-family: monospace;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 4rem;
  padding: 1rem;
}

#author,
#demo {
  font-size: 3rem;
}

#countdown {
  position: relative;
  font-family: monospace;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 6rem;
  padding: 1rem;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  /* Allow vertical scrolling on smaller devices */
  body {
    overflow-y: auto;
  }
  
  /* Reduce overall font sizes and padding */
  p {
    font-size: 2rem;
    padding: 0.5rem;
  }
  
  #author,
  #demo {
    font-size: 1.5rem;
  }
  
  #countdown {
    font-size: 3rem;
    padding: 0.5rem;
  }
}
