body {
  margin: 0;
  background: #ffffff;
  overflow: hidden;
}

body {
  background: url('/Milkmaid.jpg') no-repeat center center fixed;
  background-size: cover;
}

.outlined {
  color: white;
  /* Text fill color  -webkit-text-stroke: 2px #352e5a;*/
 
  

  text-shadow:
    -4px -4px 0 black,
    4px -4px 0 black,
    -4px 4px 0 black,
    4px 4px 0 black;
  /* Outline width and color */
  /* text-stroke: 2px black;  <-- non-prefixed version for browsers that support it */
}


p {
  position: relative;
  color: rgb(0, 0, 0);
  font-family: monospace;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 4rem;
  /* Adjust the font size as needed */
  padding: 1rem;
}

#author,
#demo {
  font-size: 3rem;

}

#countdown {
  position: relative;
  font-family: monospace;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 6rem;
  /* Adjust the font size as needed */
  padding: 1rem;
}
